@charset "utf-8";

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 100px;
}

h3 {
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}

li {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover:not(h1 a) {
    color: #05a32a;
}

.container {
    backdrop-filter: blur(10px);
    padding: 0 10px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navi {
    display: flex;
    gap: 3em;
}

.navi li a {
    color: #333;
}
/* main */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 1em;
}

.hero h2 {
    font-size: 60px;
}

.about {
    display: inline-block;
}

.about h4 {
    font-size: 30px;
    margin: 10px auto;
}

.history {
    display: flex;
}

.history ul, .history p{
    width: calc(100% / 2);
}

.history ul li {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.day {
    font-size: 20px;
    font-weight: bold;
}

.skill ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skill ul li {
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px;
}
/* footer */
footer {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}